<div class="col-md-4 col-md-offset-4">
    <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">Twoje dane {{trainer.firstname}}</div>-->
        <!--<div class="panel-body">-->
    <div style="padding:2vh">
<div class="row">
    <label class="bigfont">Imie:</label>
    <span class="bigfont">{{trainer.firstname}}</span>
</div>
        <hr/>
<div class="row">
    <label class="bigfont">Nazwisko:</label>
    <span class="bigfont">{{trainer.lastname}}</span>
</div>
        <hr/>
<div class="row">
    <label class="bigfont">Imie Matki:</label>
    <span class="bigfont">{{trainer.motherName}}</span>
</div>
        <hr/>
<div class="row">
    <label class="bigfont">Imie Ojca:</label>
    <span class="bigfont">{{trainer.fatherName}}</span>
</div>
        <hr/>
<div class="row">
    <label class="bigfont">Pesel:</label>
    <span class="bigfont">{{trainer.pesel}}</span>
</div>
        <hr/>
<div class="row">
    <label class="bigfont">Wyksztalcenie:</label>
    <span class="bigfont">{{trainer.education}}</span>
</div>
        <hr/>
<div class="row">
    <label class="bigfont">Funkcja:</label>
    <span class="bigfont" >trener</span>
</div>

</div>
</div>
<style>
    .bigfont{
        font-size:30px;

    }
</style>
