<div ui-view>
    <div class="table-responsive">
        <table class="table background">
            <thead>
            <tr>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Wykształcenie</th>
                <th>Imie Matki</th>
                <th>Imie Ojca</th>
                <th>Pesel</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in employeesToEdit">
                <td>{{ x.firstname }}</td>
                <td>{{ x.lastname }}</td>
                <td>{{ x.education }}</td>
                <td>{{ x.motherName }}</td>
                <td>{{ x.fatherName }}</td>
                <td>{{ x.pesel }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container-fullwidth">
    <form name="trainerToEditForm" class="form">
        <div class="row background">
            <div class="col-md-6 mycontent-left">
                <div class="form-group">
                    <label for="firstname">Imie:</label>
                    <input ng-maxlength="30" required ng-model="employeeToEdit.firstname" value="employeeToEdit.firstname" type="text" class="form-control inputColor" id="firstname" name="firstname">
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.firstname.$error.required">wpisz imie</span>
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.firstname.$error.maxlength">maksymalna dlugość tekstu to 30 znaków</span>
                </div>
                <div class="form-group">
                    <label for="lastname">Nazwisko:</label>
                    <input ng-maxlength="30" required type="text" class="form-control inputColor" id="lastname" name="lastname" ng-model="employeeToEdit.lastname">
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.lastname.$error.required">wpisz nazwisko</span>
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.lastname.$error.maxlength">maksymalna dlugość tekstu to 30 znaków</span>
                </div>
                <div class="form-group">
                    <label for="education">Wykształcenie:</label>
                    <input ng-maxlength="30" required type="text" id="education" name="education" ng-model="employeeToEdit.education" class="form-control inputColor">
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.education.$error.required">wpisz wyksztalcenie</span>
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.education.$error.maxlength">maksymalna dlugość tekstu to 30 znaków</span>
                </div>
                <div class="form-group">
                    <label for="education">Imie matki:</label>
                    <input ng-maxlength="30" required type="text" id="motherName" name="motherName" ng-model="employeeToEdit.motherName"
                           class="form-control inputColor">
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.motherName.$error.required">wpisz imie matki</span>
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.motherName.$error.maxlength">maksymalna dlugość tekstu to 30 znaków</span>
                </div>
                <div class="form-group">
                    <label for="fatherName">Imie ojca:</label>
                    <input ng-maxlength="30" required type="text" id="fatherName" name="fatherName" ng-model="employeeToEdit.fatherName"
                           class="form-control inputColor">
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.fatherName.$error.required">wpisz imie ojca</span>
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.fatherName.$error.maxlength">maksymalna dlugość tekstu to 30 znaków</span>
                </div>
                <div class="form-group">
                    <label for="pesel">Pesel:</label>
                    <input ng-maxlength="30" required type="text" id="pesel" name="pesel" ng-model="employeeToEdit.pesel" class="form-control inputColor">
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.pesel.$error.required">wpisz pesel</span>
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.pesel.$error.maxlength">maksymalna dlugość tekstu to 30 znaków</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="login">Login tworzonego użytkownika:</label>
                    <input ng-maxlength="30" required type="text" id="login" name="login" ng-model="employeeToEdit.account.login" class="form-control inputColor">
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.login.$error.required">wpisz login</span>
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.login.$error.maxlength">maksymalna dlugość tekstu to 30 znaków</span>
                </div>
                <div class="form-group">
                    <label for="password">Haslo tworzonego użytkownika:</label>
                    <input ng-maxlength="30" required type="text" id="password" name="password" ng-model="employeeToEdit.account.password"
                           class="form-control inputColor">
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.password.$error.required">wpisz haslo</span>
                    <span class="secondary-font-color"  ng-show="trainerForm.$dirty  && trainerForm.password.$error.maxlength">maksymalna dlugość tekstu to 30 znaków</span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-2">
                <button ng-click="editTrainer()" ng-disabled="trainerForm.$invalid" type="button" class="btn btn-success btn-block">Aktualizuj Trenera</button>
            </div>
            <div class="col-md-2">
                <button ng-click="clearTrainerToEditForm()" ng-disabled="trainerForm.$pristine" type="button" class="form-control row btn btn-default btn-block">Resetuj Fromularz</button>
            </div>
        </div>
    </form>
</div>