<div ng-controller="loginController" class="container" >
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p ng-model="club.name" class="navbar-text"  >WebSiteName</p>
        </div>
        <ul class="nav navbar-nav">
            <li><a id="aboutClub" name="aboutClub" href="#">Dane Klubu</a></li>
            <li><a id="trainers" name="trainers" href="#">Trenerzy</a></li>
            <li><a id="clubMembers" name="clubMembers" href="#">Zawodnicy</a></li>
        </ul>
    </div>
</nav>
</div>