<link rel="stylesheet" type="text/css" href="css/stylesLogin.css" />

<div ng-controller="loginController" class="container" >

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <h3 class="navbar-text">Witaj w systemie obsługujacym twój klub!</h3>
            </div>
        </div>
    </nav>

    <div class="col-md-10 col-md-offset-1 background fill-max-height cn">
        <div class="row radius-div col-md-8 inner">
            <h3><span class = "col-md-10 col-md-offset-1 secondary-font-color form-group">Logowanie do klubu</span></h3>
            <!--vertical form is default-->
            <form class="form-vertical" name="loginForm">
                <!-- col-md-10 page is divide into 12 parts this div has 10 columns width -->
                <div class = "form-group col-md-10 col-md-offset-1">
                   <div class="secondary-font-color">Login:</div>
                    <input name="login" required ng-model="user.login" id="usernameInput" class="log form-control col-md-10" ng-minlength="3">
                    <span class="secondary-font-color"  ng-show="loginForm.$dirty  && loginForm.login.$error.required">wprowadz login</span>
                    <span class="secondary-font-color" ng-show="loginForm.$dirty  && loginForm.login.$error.minlength">minimalna dlugosc loginu to trzy znaki</span>
                </div>
                <!-- col-md-10 page is divide into 12 parts this div has 10 columns width -->
                <div class = "form-group col-md-10 col-md-offset-1">
                    <div class="secondary-font-color">Haslo:</div>
                <input  ng-model="user.password" name="password" required type="password" class="pass form-control" ng-minlength="3">
                    <span class="secondary-font-color"  ng-show="loginForm.$dirty  && loginForm.password.$error.required">wprowadz login</span>
                    <span class="secondary-font-color" ng-show="loginForm.$dirty  && loginForm.password.$error.minlength">minimalna dlugosc loginu to trzy znaki</span>
                </div>
                <!-- col-md-10 page is divide into 12 parts this div has 10 columns width -->
                <div class = "form-group col-md-10 col-md-offset-1">
                    <input ng-disabled="loginForm.$invalid" type="button" ng-click="loginUser()" id="buttonSubmitLoginForm" class="btn btn-default btn-block" value = "zaloguj"/>
                </div>
            </form>
        </div>
    </div>
</div>












