.background{
    background-color: ghostwhite;
}

.secondary-font-color{
    color:darkgrey;
}

.fill-max-height {
    min-height:100vh;
    height: 100vh;
}
/*radius corners and nice border*/
.radius-div{
    border: 1px solid #a1a1a1;
    padding: 5vh;
    border-radius: 5px;
    height: 45vh;
}
/**/

.cn {
    display: flex;
    justify-content: center;
}

.inner {
    align-self: center;
}


.log.ng-dirty.ng-valid{
    background-color: lightgreen;
}

.pass.ng-dirty.ng-valid{
    background-color: lightgreen;
}

.log.ng-dirty.ng-invalid{
    background-color: rgba(252, 83, 91, 0.91);

}


.pass.ng-dirty.ng-invalid{
    background-color: rgba(252, 83, 91, 0.91);

}



body{
    background-color:lightgrey;
}

